<div class="top">
    <button id="close" type="button">Close</button>
    <button id="submit" type="button">Done</button>
</div>
<div class="input-container">
    <div class="importnant-cont">
        <label class="important-label">
            <input
                id="important"
                class="important-input"
                type="checkbox"
            >
            <span class="checkmark"></span>
            Mark as Important
        </label>
    </div>
    <div class="input-area">
        <input 
            id="title" 
            class="notes title-input" 
            type="text"
            placeholder="Title"
        >
        <textarea 
            id="notes" 
            class="notes notes-input" 
            type="text"
            placeholder="Write your notes here..."></textarea>
    </div>
</div>