<div class="top">
    <button id="close" type="button">close</button>
    <button id="submit" type="button">Done</button>
</div>
<div class="input-container">
    <div class="importnant-cont">
        <p>IMPORTNANT</p>
        <input
            id="important"
            class="importnant-input"
            type="checkbox"
        >
    </div>
    <div class="input-area">
        <input 
            id="title" 
            class="notes title-input" 
            type="text"
            placeholder="Title"
        >
        <textarea 
            id="notes" 
            class="notes notes-input" 
            type="text"
            placeholder="Write your notes here..."></textarea>
    </div>
</div>