<div class="top">
    <button id="close" type="button">x</button>
</div>
<div class="input-container">
    <div class="importnant-cont">
        <p>IMPORTNANT</p>
        <input
            id="important"
            class="importnant-input"
            type="checkbox"
        >
    </div>
    <input 
        id="title" 
        class="title-input" 
        type="text"
        placeholder="Title"
    >
    <input 
        id="description" 
        class="description-input" 
        type="text"
        placeholder="Description"
    >
</div>
<div class="btn-cont">
    <button id="create" type="button">Create Notes</button>
</div>